# Supabase Environment Variables
SUPABASE_URL=https://znfoalvfqwkbenvxbyri.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InpuZm9hbHZmcXdrYmVudnhieXJpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODc5MjQ5NTQsImV4cCI6MjEwMzUwMDk1NH0.6TP0sD8YT51luiB_NZrrHhSWWseoL3NWGJuxGYATEts

# Vercel & GitHub Secrets (Set in GitHub Repo Secrets for CI/CD)
# VERCEL_TOKEN=
# VERCEL_ORG_ID=
# VERCEL_PROJECT_ID=
